body {
    font: 14px/20px Arial, sans-serif;
    color: #222;
}

#testimonials {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 940px;
    text-align: center; /* Memastikan semua konten di dalam #testimonials berada di tengah */
}

.sec-head {
    font-size: 32px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.cust-quotes {
    width: 640px;
    height: 100px;
    position: relative;
    margin: 0 auto; /* Agar blockquote berada di tengah */
}

.cust-quotes blockquote {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 22px; /* Memperbesar teks blockquote */
    text-align: center;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease-out 0s, transform 0.5s ease-in 0s;
}

.cust-quotes blockquote:first-child {
    opacity: 0;
    transform: translateY(-10px) scale(1.1);
}

.cust-quotes blockquote:first-child + blockquote {
    opacity: 1;
    z-index: 1;
    transition: opacity 1.6s ease 0s;
}

.cust-quotes blockquote p {
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    color: #353535;
    line-height: 30px;
    margin-bottom: 10px;
}

.cust-quotes blockquote p:before {
    content: '\201C';
}

.cust-quotes blockquote p:after {
    content: '\201D';
}

.cust-quotes blockquote cite {
    text-align: center;
    font-size: 18px; /* Memperbesar nama penulis */
    color: #898989;
}

.cust-quotes blockquote cite a {
    font-size: 18px;
    font-weight: normal;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}
