#nav-tabs {
  margin: 24px auto;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  width: 95%;
  font-family: Helvetica;
  color: #54595f;
}

ul#nav-tabs {
  padding: 0;
  text-align: center;
}

#nav-tabs li {
  list-style: none;
}
#nav-tabs li li {
  display: block;
  margin-top: 10px;
}
#nav-tabs li li i {
  margin-right: 10px;
  color: red !important;
}
#nav-tabs li a {
  display: block;
  padding: 10px 20px;
  background: #fff;
  text-decoration: none;
  color: #000;
  border: 1px solid #d4d4d4;
  border-bottom: 0;
}
#nav-tabs li a:hover,
#nav-tabs li a.active {
  background: #150479;
  color: #f2f2f2;
}

#nav-tabs section {
  display: none; /* I NEED TO FIX THIS */
  float: left;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  border: 1px #d4d4d4 solid;
  width: 100%;
}

.no-js #nav-tabs section {
  display: block; /* I NEED TO FIX THIS */
}
#nav-tabs li ul li a {
  padding: 10px 25px;
  border-bottom: 1px dotted #ccc;
}

#nav-tabs table {
  width: 100%;
  text-align: left;
}
#nav-tabs table .time-td {
  width: 20%;
}
#nav-tabs table .time-td i {
  color: #00a261;
}
#nav-tabs table .content-td {
  text-align: left;
  padding-left: 40px;
  width: 60%;
}
#nav-tabs table.agenda td {
  margin-bottom: 11px;
  display: inline-block;
}
.files-pdf {
  margin-top: 10px;
  font-size: 26px;
  color: red;
}
.files-pdf a i {
  font-size: 26px;
  color: red;
}
.files-pdf a {
  border: 1px solid #d4d4d4 !important;
  border-radius: 5px !important;
}
#nav-tabs li .files-pdf a:hover {
  background: #eaeaea;
  color: #f2f2f2;
}
@media only screen and (min-width: 30em) {
  #nav-tabs {
    width: 80%;
    position: relative;
    border: none;
  }
  #nav-tabs li {
    display: inline;
  }
  #nav-tabs li a {
    display: inline-block;
  }
  #nav-tabs section {
    padding: 20px;
    position: absolute;
    top: 38px;
    left: 0;
    text-align: left;
  }
  #nav-tabs table .content-td {
  border-left: 2px solid #767676;
}
}
#nav-tabs * {
  transition: 400ms all ease;
}

